.location-access {
    display: block;

    width: 100%;
    height: 8px;

    background: #363636;

    >span {
        display: inherit;

        height: 8px;
    }


    &._1,
    &._2,
    &._3 {
        > span {
            background: red;
        }
    }

    &._4,
    &._5,
    &._6 {
        > span {
            background: orange;
        }
    }

    &._7,
    &._8,
    &._9,
    &._10 {
        > span {
            background: green;
        }
    }
}

.card,
.infobox {
    .location-access {
        height: 3px;
        >span {
            height: 3px;
        }
    }
}