.card__media__content {
    position: relative;
    img {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.md-theme-default a:not(.md-button) {
    color: rgb(192, 192, 192) !important;
    &:hover {
        color: teal !important;
    }
}