.imagebox {

    display: inline-block;
    margin: 0;
    width: 100%;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        display: inline-block;

        li {
            float: left;
            position: relative;
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 8px 0 8px 25px;

            img {
                z-index: 300;
            }

            span {
                cursor: pointer;
                z-index: 400;
                position: absolute;
                bottom: 0;
                right: 0;

                width: 0;
                height: 0;
                border-bottom: 60px solid rgb(97, 18, 18);
                border-left: 60px solid transparent;

                i {
                    position: absolute;
                    right: 5px;
                    color: white;
                    bottom: -53px;
                }
            }
        }
    }
}
