$knobsize: 26px;
$track-height: 5px;
$thumb-negative: $knobsize / 2 + 3;
.slider {
    margin-left: $knobsize / 2;
    .slider__track__container {
        height: $track-height;

        .slider__track, 
        .slider__track-fill {
            height: $track-height;
        }
    }

    .slider__thumb {
        width: $knobsize;
        height: $knobsize;
        left: -$thumb-negative;
    }
}

