<mat-toolbar color="secondary">
  <mat-toolbar-row>
    buttons here
  </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="location">
  <h1 class="location-title">{{location.title}}</h1>
  <app-accessibility [accessibility]="location.properties.accesibility" [big]="true"></app-accessibility>
  <div class="grid">
    <div class="grid-item">
        <mat-carousel
        [autoplay]="false"
        color="accent"
        maxWidth="auto"
        [slides]="location.properties.images.length"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
      >
        <mat-carousel-slide
          #matCarouselSlide
          *ngFor="let image of location.properties.images; let i = index"
          overlayColor="#00000040"
          [hideOverlay]="true"
        >
      <img [src]="image.large" alt=""></mat-carousel-slide>
      </mat-carousel>
      <agm-map  [latitude]="location.geoLocation.lat" [longitude]="location.geoLocation.lng" [styles]="mapStyle">
          <agm-marker  [latitude]="location.geoLocation.lat" [longitude]="location.geoLocation.lng" [iconUrl]="optionService.options.basePath + '/dist/assets/img/marker_'+location.properties.category+'.svg'">
          </agm-marker>
        </agm-map>
    </div>
    <div class="grid-item">
      <h3>Wheather</h3>
        <div class="four-items">
            <app-custom-checkbox name="sunny" iconName="sunny" [readonly]="true" [checked]="location.properties.wheater.sunny"></app-custom-checkbox>
            <app-custom-checkbox name="foggy" iconName="foggy" [readonly]="true" [checked]="location.properties.wheater.foggy"></app-custom-checkbox>
            <app-custom-checkbox name="cloudy" iconName="cloudy" [readonly]="true" [checked]="location.properties.wheater.cloudy"></app-custom-checkbox>
            <app-custom-checkbox name="rainy" iconName="rainy" [readonly]="true" [checked]="location.properties.wheater.rainy"></app-custom-checkbox>
        </div>
        <h3>Seasons</h3>
        <div class="four-items">
            <app-custom-checkbox name="spring" iconName="spring" [readonly]="true" [checked]="location.properties.seasons.spring"></app-custom-checkbox>
            <app-custom-checkbox name="summer" iconName="summer" [readonly]="true" [checked]="location.properties.seasons.summer"></app-custom-checkbox>
            <app-custom-checkbox name="autumn" iconName="autumn" [readonly]="true" [checked]="location.properties.seasons.autumn"></app-custom-checkbox>
            <app-custom-checkbox name="winter" iconName="winter" [readonly]="true" [checked]="location.properties.seasons.winter"></app-custom-checkbox>
        </div>

    </div>
  </div>
</ng-container>

