<div class="filter-wrapper" *ngIf="locationService.filter">
  <mat-form-field class="m-b-1">
      <input matInput placeholder="Titel" (change)="locationService.filter.title = $event.value">
  </mat-form-field>
  <h3>{{language.getString('minAccessibility')}}</h3>
  <mat-slider
  [disabled]="false"
  [max]="10"
  [min]="0"
  [step]="1"
  [tickInterval]="1"
  (change)="locationService.filter.accessibility = $event.value"
  class="m-b-1"
  ></mat-slider>

  <h3>{{language.getString('category')}}</h3>
  <mat-form-field class="m-b-1">
    <mat-label>{{language.getString('category')}}</mat-label>
    <mat-select (selectionChange)="locationService.filter.category = $event.value">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3>{{language.getString('type')}}</h3>
  <mat-form-field class="m-b-1">
      <mat-label>{{language.getString('type')}}</mat-label>
      <mat-select multiple (selectionChange)="locationService.filter.tags = $event.value">
        <mat-option *ngFor="let tag of tags" [value]="tag.value">
          {{tag.viewValue}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <h3>{{language.getString('wheather')}}</h3>
  <div class="four-items m-b-1">
      <app-custom-checkbox name="sunny" iconName="sunny" (change)="locationService.filter.sunny = $event"></app-custom-checkbox>
      <app-custom-checkbox name="foggy" iconName="foggy" (change)="locationService.filter.foggy = $event"></app-custom-checkbox>
      <app-custom-checkbox name="cloudy" iconName="cloudy" (change)="locationService.filter.cloudy = $event"></app-custom-checkbox>
      <app-custom-checkbox name="rainy" iconName="rainy" (change)="locationService.filter.rainy = $event"></app-custom-checkbox>
  </div>
  <h3>{{language.getString('seasons')}}</h3>
  <div class="four-items m-b-1">
      <app-custom-checkbox name="spring" iconName="spring" (change)="locationService.filter.spring = $event"></app-custom-checkbox>
      <app-custom-checkbox name="summer" iconName="summer"  (change)="locationService.filter.summer = $event"></app-custom-checkbox>
      <app-custom-checkbox name="autumn" iconName="autumn"  (change)="locationService.filter.autumn = $event"></app-custom-checkbox>
      <app-custom-checkbox name="winter" iconName="winter"  (change)="locationService.filter.winter = $event"></app-custom-checkbox>
  </div>

  <button mat-flat-button color="primary" (click)="resetFilter()">{{language.getString('resetFilter')}}</button>
</div>
