.grid-view {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 20%; /* explanation below */
    margin: 12px;
    text-decoration: none;
  }
}

.grid {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;

  .grid-item {
    width: 50%;
    padding: 0 12px;
    box-sizing: border-box;

    .four-items {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;

      > * {
        flex: 1 0 21%; /* explanation below */
        margin: 5px;
        justify-content: center;
        display: flex;
      }
    }
  }
}

.button-row {
  .spacer {
    flex: 1 1 auto;
  }
}


@media only screen and (max-width: 680px) {
  .grid {
    .grid-item {
      width: 100%;
    }
  }
}
