<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="login-form">
      <mat-form-field>
        <input matInput [placeholder]="language.getString('username')" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="language.getString('password')" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="doLogin()">{{language.getString('login')}}</button>
    </div>
  </mat-card>

</div>
