<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="login-form">
      <mat-form-field>
        <input matInput placeholder="{{'LOGIN.NAME' | translate}}" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'LOGIN.PASSWORD' | translate}}" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="doLogin()">{{'LOGIN.LOGIN' | translate}}</button>
    </div>
  </mat-card>

</div>
