<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="login-form">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="doLogin()">Login</button>
    </div>
    <button (click)="getPostsTest()">get posts</button>
    <button (click)="getUser()">get user</button>
    <button (click)="getOptions()">get options</button>
  </mat-card>

</div>
