@import '~@angular/material/theming';

.mat-toolbar.mat-primary {
  background: mat-color($mat-blue-grey, 900);
  color: #fff;
}

mat-toolbar-row {
  z-index: 2;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

  .filter-trigger {
    margin-right: 24px;
  }
}

.example-container {
  width: 100%;
  height: calc(100% - 56px);
}

::ng-deep {

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,0.6)
  }

  .mat-drawer-inner-container {
    min-width: 280px;

    .sidenav-header {
      position: relative;
      display: block;
      align-items: center;
      padding-left: 19px;
      margin-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 8px;
      font-size: 12px;
      white-space: nowrap;
      border-bottom: 1px solid grey;
      color: lightgrey;
      font-weight: 400;
    }

    .mat-line {
      width: 100%;
      text-align: left;
      line-height: 24px;

      mat-icon {
        float: left;
        margin-right: 16px;
      }
    }

    app-filter {
      padding: 16px;
      display: block;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
