<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img [routerLink]="['/']" src="./assets/img/logo.svg" alt="logo">
    <span class="spacer"></span>
    <mat-icon *ngIf="!hideMenu" aria-hidden="false" class="filter-trigger" (click)="showFilter = true;drawer.toggle()" aria-label="Filter Icon">search</mat-icon>
    <mat-icon *ngIf="!hideMenu" aria-hidden="false" (click)="showFilter = false;drawer.toggle()" aria-label="Menu Icon">menu</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="app-container" [hasBackdrop]="hasBackdrop">
  <mat-drawer #drawer mode="side" position="end" >
      <ng-container *ngIf="!showFilter">
        <app-user-profile *ngIf="userService.userData" [userName]="userService.userData.name" [userId]="userService.userData.id" [userImage]="userService.userData"></app-user-profile>
        <h4 class="sidenav-header">{{language.getString('application-menu')}}</h4>
        <mat-nav-list>
          <mat-list-item>
              <a matLine [routerLink]="['/add-location']"><mat-icon>add_location</mat-icon> {{language.getString('add-location')}}</a>
          </mat-list-item>
          <mat-list-item>
             <a matLine [routerLink]="['grid']"><mat-icon>grid_on</mat-icon> {{language.getString('grid-view')}}</a>
          </mat-list-item>
          <mat-list-item>
               <a matLine [routerLink]="['/']"><mat-icon>map</mat-icon> {{language.getString('map-view')}}</a>
          </mat-list-item>
        </mat-nav-list>
        <ng-container *ngIf="isAdmin">
          <h4 class="sidenav-header">{{language.getString('user-menu')}}</h4>
          <mat-nav-list>
            <mat-list-item>
              <a matLine [routerLink]="['user/add']"><mat-icon>add_circle_outline</mat-icon> {{language.getString('add-user')}}</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine [routerLink]="['userlist']"><mat-icon>supervisor_account</mat-icon> {{language.getString('show-user-list')}}</a>
            </mat-list-item>
          </mat-nav-list>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="showFilter">
        <app-filter></app-filter>
      </ng-container>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>


