<mat-toolbar class="button-row" color="secondary">
  <mat-toolbar-row>
    <button mat-raised-button color="accent" (click)="goBack()">{{'GENERAL.CANCEL' | translate}}</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveUser()">{{'GENERAL.SAVE' | translate}}</button>
  </mat-toolbar-row>
</mat-toolbar>
<form class="user-form" *ngIf="user">
  <mat-form-field class="userfield-full-width m-b-1">
    <input matInput placeholder="{{'USER.NAME' | translate}}" name="username" readonly [(ngModel)]="user.name">
  </mat-form-field>
  <mat-form-field class="userfield-full-width m-b-1">
    <input matInput placeholder="{{'USER.MAIL' | translate}}" name="mail" required [(ngModel)]="user.userEmail">
  </mat-form-field>
  <mat-form-field class="userfield-full-width m-b-1">
    <input matInput placeholder="{{'USER.NEW_PASSWORD' | translate}}" [(ngModel)]="newpassword" name="new-password" requried type="password">
  </mat-form-field>
  <mat-form-field class="userfield-full-width m-b-1">
    <input matInput placeholder="{{'USER.NEW_PASSWORD_REPEAT' | translate}}" [(ngModel)]="newpasswordrepeat" name="new-password-repeat" required type="password">
  </mat-form-field>
</form>
