<mat-toolbar class="button-row" color="secondary">
  <mat-toolbar-row>
    <button mat-raised-button color="accent" (click)="goBack()">Cancel</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveUser()">Save</button>
  </mat-toolbar-row>
</mat-toolbar>
<form class="user-form" *ngIf="loaded">
  <mat-form-field class="userfield-full-width">
    <input matInput placeholder="Username" name="username" readonly [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="userfield-full-width">
    <input matInput placeholder="E-Mail" name="mail" required [(ngModel)]="mail">
  </mat-form-field>
  <mat-form-field class="userfield-full-width">
    <input matInput placeholder="New password" [(ngModel)]="newpassword" name="new-password" requried type="password">
  </mat-form-field>
  <mat-form-field class="userfield-full-width">
    <input matInput placeholder="Repeat new password" [(ngModel)]="newpasswordrepeat" name="new-password-repeat" required type="password">
  </mat-form-field>
</form>
