
.grid {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;

  .grid-item {
    width: 50%;
    padding: 0 12px;
    box-sizing: border-box;

    .four-items {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;

      > * {
        flex: 1 0 21%; /* explanation below */
        margin: 5px;
        justify-content: center;
        display: flex;
      }
    }
  }
}

.button-row {
  .spacer {
    flex: 1 1 auto;
  }
}

.btn-current-location {
  width: 100%;
  border-radius: 0;
}

.mat-form-field,
mat-slider {
  width: 100%;
}

agm-map {
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 680px) {
  .grid {
    .grid-item {
      width: 100%;
    }
  }
}
