<mat-toolbar class="button-row" color="secondary">
  <mat-toolbar-row>
    <button mat-raised-button color="accent" (click)="goBack()">{{language.getString('cancel')}}</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveLocation()">{{language.getString('save')}}</button>
  </mat-toolbar-row>
</mat-toolbar>
<ng-container>
  <div class="grid" *ngIf="location">
    <div class="grid-item">
      <app-file-input class="m-b-1" [imageArray]="location.properties.images" (imageObject)="setImageArray($event)"></app-file-input>
      <app-geoautofill (position)="updateLocation($event)"></app-geoautofill>
      <agm-map *ngIf="options" [latitude]="location.geoLocation.lat" [longitude]="location.geoLocation.lng" [styles]="mapStyle">
          <agm-marker (dragEnd)="updateLocation($event.latLng)" [markerDraggable]="true" [latitude]="location.geoLocation.lat" [longitude]="location.geoLocation.lng" [iconUrl]="options.basePath + '/dist/assets/img/marker.svg'">
          </agm-marker>
      </agm-map>
      <button class="btn-current-location m-b-1" mat-flat-button color="primary" (click)="getCurrentLocation()">Get Current Location</button>
      <h3>{{language.getString('note')}}</h3>
      <mat-form-field class="m-b-1">
          <textarea matInput [value]="location.note" placeholder="Note" (change)="location.note = $event.target.value"></textarea>
      </mat-form-field>
    </div>
    <div class="grid-item">
    <div class="grid">
      <h3>{{language.getString('LocationName')}}</h3>
      <mat-form-field class="m-b-1">
          <input matInput [value]="location.title" placeholder="Locationname" (change)="location.title = $event.target.value">
      </mat-form-field>
      <h3>{{language.getString('minAccessibility')}}</h3>
      <mat-slider
        class="m-b-1"
        [class.red]="location.properties.accesibility < 3"
        [class.orange]="location.properties.accesibility < 8 && location.properties.accesibility > 2"
        [class.green]="location.properties.accesibility > 7"
        [disabled]="false"
        [invert]="invert"
        [max]="10"
        [min]="0"
        [step]="1"
        [value]="location.properties.accesibility"
        [thumbLabel]="location.properties.accesibility"
        [tickInterval]="1"
        (change)="location.properties.accesibility = $event.value"
        ></mat-slider>
      <div class="grid-item">
        <h3>{{language.getString('category')}}</h3>
        <mat-form-field class="m-b-1">
          <mat-label>{{language.getString('category')}}</mat-label>
          <mat-select (selectionChange)="location.properties.category = $event.value" [ngModel]="location.properties.category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <h3>{{language.getString('tags')}}</h3>
        <mat-form-field class="m-b-1">
            <mat-label>{{language.getString('tags')}}</mat-label>
            <mat-select multiple (selectionChange)="location.properties.type = $event.value" [ngModel]="location.properties.type">
              <mat-option *ngFor="let tag of tags" [value]="tag.value">
                {{tag.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
      <h3>{{language.getString('wheather')}}</h3>
        <div class="four-items m-b-1">
            <app-custom-checkbox name="sunny" [checked]="location.properties.wheater.sunny" iconName="sunny" (change)="location.properties.wheater.sunny = $event.value"></app-custom-checkbox>
            <app-custom-checkbox name="foggy" [checked]="location.properties.wheater.foggy" iconName="foggy" (change)="location.properties.wheater.foggy = $event.value"></app-custom-checkbox>
            <app-custom-checkbox name="cloudy" [checked]="location.properties.wheater.cloudy" iconName="cloudy" (change)="location.properties.wheater.cloudy = $event.value"></app-custom-checkbox>
            <app-custom-checkbox name="rainy" [checked]="location.properties.wheater.rainy" iconName="rainy" (change)="location.properties.wheater.rainy = $event.value"></app-custom-checkbox>
        </div>
        <h3>{{language.getString('seasons')}}</h3>
        <div class="four-items m-b-1">
            <app-custom-checkbox name="spring" [checked]="location.properties.seasons.spring" iconName="spring" (change)="location.properties.seasons.spring = $event.value"></app-custom-checkbox>
            <app-custom-checkbox name="summer" [checked]="location.properties.seasons.summer" iconName="summer"  (change)="location.properties.seasons.summer = $event.value"></app-custom-checkbox>
            <app-custom-checkbox name="autumn" [checked]="location.properties.seasons.autumn" iconName="autumn"  (change)="location.properties.seasons.autumn = $event.value"></app-custom-checkbox>
            <app-custom-checkbox name="winter" [checked]="location.properties.seasons.winter" iconName="winter"  (change)="location.properties.seasons.winter = $event.value"></app-custom-checkbox>
        </div>
    </div>
    <div class="grid-item">
        <mat-slide-toggle class="m-b-1" color="primary" [checked]="location.shared" (change)="handleShare($event)">{{language.getString('shareLocation')}}</mat-slide-toggle>
    </div>
    <div class="grid-item">
        <mat-form-field *ngIf="location.shared" class="m-b-1">
          <input matInput [value]="sharedURL" readonly [placeholder]="language.getString('sharedURL')">
        </mat-form-field>
    </div>
  </div>
</ng-container>

